
<div class="row">
    <div class="col-sm-11  col-sm-offset-0">
        <div ng-if="editable">
            <button class="btn btn-xs btn-primary" style="" title="add" ng-click="beforecreate({$event: $event});">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-primary btn-xs" ng-click="beforeupdate({item: getCurrentItem()})">
                <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-xs btn-primary" title="Delete" ng-click="delete({item: getCurrentItem(), $event: $event})">
                <i class="fa fa-remove"></i>
            </button>
            <button class="btn btn-xs btn-primary" title="Previous" ng-click="previousPageClicked($event)" ng-disabled="previousIsDisabled()">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-xs btn-primary" title="Next" ng-click="nextPageClicked($event)" ng-disabled="nextIsDisabled()">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12  col-sm-offset-0">
        <div class="list-group contact-list-group">
            <div ng-if="newItem.isEditing" class="form-horizontal contact-list-new list-group-item contact-list-group-item  clearfix" role="form">
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="Address" class="col-xs-2 control-label sr-only">Address</label>
                    <div class="col-xs-12">
                        <textarea type="text" class="form-control input-sm" name="Address" placeholder="Address" ng-model="newItem.address"></textarea>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="City" class="col-xs-2 control-label sr-only">City</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control input-sm" name="City" placeholder="City" ng-model="newItem.city" />
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="State" class="col-xs-2 control-label sr-only">State</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control input-sm" name="State" placeholder="State" ng-model="newItem.state" />
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="zipCode" class="col-xs-2 control-label sr-only">Zip Code</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control input-sm" name="zipCode" placeholder="Zip Code" ng-model="newItem.zipCode" />
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="addressTypeName" class="col-xs-2 control-label sr-only">address Type</label>
                    <div class="col-xs-12">
                        <select class="form-control input-sm" required ng-model="newItem.adressType"
                                ng-options="option.id as option.name for option in types"
                                name="addressTypeName"></select>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 8px;">
                    <div class="col-xs-12">
                        <a class="btn btn-info btn-xs btn-primary" ng-click="create({item: newItem, $event: $event})">Save</a>
                        <a class="btn btn-info btn-xs btn-primary" ng-click="cancelcreate({item: newItem, $event: $event});">Cancel</a>
                    </div>
                </div>
            </div>
            
            <div ng-repeat="item in items | startFrom: getPageIndex() | limitTo:pageSize">
                <div ng-if="!item.isEditing" class="list-group-item contact-list-group-item  clearfix">
                    <div class="contact-list-group-div-image">
                        <span class="fa {{item.leftSectionFontAwesomeIconClass}}"> </span>
                    </div>
                    <div class="contact-list-group-div-content">
                        {{item.displayText}}
                        <p>{{item.description}}</p>
                    </div>
                </div>

                <div ng-if="item.isEditing" class="form-horizontal contact-list-edit list-group-item contact-list-group-item  clearfix" role="form">
                    <div class="form-group" style="margin-bottom: 0;">
                        <label for="Address" class="col-xs-2 control-label sr-only">Address</label>
                        <div class="col-xs-12">
                            <textarea type="text" class="form-control input-sm" name="Address" placeholder="Address" ng-model="item.address"></textarea>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label for="City" class="col-xs-2 control-label sr-only">City</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-sm" name="City" placeholder="City" ng-model="item.city" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label for="State" class="col-xs-2 control-label sr-only">State</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-sm" name="State" placeholder="State" ng-model="item.state" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label for="zipCode" class="col-xs-2 control-label sr-only">Zip Code</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-sm" name="zipCode" placeholder="Zip Code" ng-model="item.zipCode" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label for="addressTypeName" class="col-xs-2 control-label sr-only">address Type</label>
                        <div class="col-xs-12">
                            <select class="form-control input-sm" required ng-model="item.adressType"
                                    ng-options="option.id as option.name for option in types"
                                    name="addressTypeName"></select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 8px;">
                        <div class="col-xs-12">
                            <a class="btn btn-info btn-xs btn-primary" ng-click="update({item: item, $event: $event})">Save</a>
                            <a class="btn btn-info btn-xs" ng-click="cancelupdate({item: item, $event: $event});">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>